<div class="Page404">
  <div class="SectionMainContent">
    <div class="ContentWrapper">
      <base-heading theme="theme_titleHeavy">
        <span class="Annotation">404</span>
      </base-heading>
      <base-heading theme="theme_titleHeavy">
        <h1 class="MainTitle size_big">Страница не найдена</h1>
      </base-heading>
      <base-heading theme="theme_subheaderSmall">
        <h1 class="MainTitle size_small">Страница не найдена</h1>
      </base-heading>
      <p class="Text">Извините, запрашиваемая вами страница не существует. Проверьте правильность написания адреса или перейдите на домашнюю страницу.</p>
      <base-button size="big">Домашняя страница</base-button>
    </div>
  </div>

  <div class="SectionBackground">
    <img class="BackgroundImage" src="../images/404.png" alt="background">
  </div>
</div>