<div class="Page404">
  <div class="SectionMainContent">
    <div class="ContentWrapper">
      <base-heading theme="theme_titleHeavy">
        <span class="Annotation">403</span>
      </base-heading>
      <base-heading theme="theme_titleHeavy">
        <h1 class="MainTitle size_big">Доступ запрещен</h1>
      </base-heading>
      <base-heading theme="theme_titleHeavy">
        <h1 class="MainTitle size_small">Доступ запрещен</h1>
      </base-heading>
      <p class="Text">У вас нет доступа к запрашиваемой странице, обратитесь к администратору.</p>
      <base-button size="big">Домашняя страница</base-button>
    </div>
  </div>
  
  <div class="SectionBackground">
    <img class="BackgroundImage" src="../images/403.png" alt="background">
  </div>
</div>